/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

body{
  background-image: url(../img/ygo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
